<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>tempfile.dir</param-name>
        <param-value>tmpfiles</param-value>
    </context-param>
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>myJavaClass.myServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginSrvlt</servlet-name>
        <servlet-class>servlet.loginSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutSrvlt</servlet-name>
        <servlet-class>servlet.logoutSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invitiSrvlt</servlet-name>
        <servlet-class>servlet.invitiSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gruppiSrvlt</servlet-name>
        <servlet-class>servlet.gruppiSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaGruppoSrvlt</servlet-name>
        <servlet-class>servlet.creaGruppoSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BootsrapTry</servlet-name>
        <servlet-class>servlet.BootsrapTry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pdf_generator_servlet</servlet-name>
        <servlet-class>servlet.Pdf_generator_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileLocationContextListener</servlet-name>
        <servlet-class>servlet.FileLocationContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>servlet.main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accettaInvitiSrvlt</servlet-name>
        <servlet-class>servlet.accettaInvitiSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayGroupSrvlt</servlet-name>
        <servlet-class>servlet.DisplayGroupSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaGruppoSrvlt</servlet-name>
        <servlet-class>servlet.ModificaGruppoSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aggiungiPost</servlet-name>
        <servlet-class>servlet.aggiungiPost</servlet-class>
        <init-param>
            <param-name> media </param-name>
            <param-value> /logg/media </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>servlet.FileDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/myServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginSrvlt</servlet-name>
        <url-pattern>/loginSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutSrvlt</servlet-name>
        <url-pattern>/logg/logoutSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invitiSrvlt</servlet-name>
        <url-pattern>/logg/invitiSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gruppiSrvlt</servlet-name>
        <url-pattern>/logg/gruppiSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaGruppoSrvlt</servlet-name>
        <url-pattern>/logg/creaGruppoSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BootsrapTry</servlet-name>
        <url-pattern>/BootsrapTry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pdf_generator_servlet</servlet-name>
        <url-pattern>/logg/pdfservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileLocationContextListener</servlet-name>
        <url-pattern>/logg/FileLocationContextListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/logg/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accettaInvitiSrvlt</servlet-name>
        <url-pattern>/logg/accettaInvitiSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayGroupSrvlt</servlet-name>
        <url-pattern>/logg/displaygroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaGruppoSrvlt</servlet-name>
        <url-pattern>/logg/modificaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aggiungiPost</servlet-name>
        <url-pattern>/logg/aggiungiPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/logg/fileDownload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>filter.SessionFilter</filter-class>
        <init-param>
            <param-name>login_page</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CheckAccessUser2Group</filter-name>
        <filter-class>filter.CheckAccessUser2Group</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckAccessUser2Group</filter-name>
        <url-pattern>/logg/displaygroup</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>GroupChangeName</filter-name>
        <filter-class>filter.GroupChangeName</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GroupChangeName</filter-name>
        <url-pattern>/logg/gruppiSrvlt</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/logg/*</url-pattern>
    </filter-mapping>
    <listener>
        <description> listener </description>
        <listener-class> ascoltatore.WebAppContextListener</listener-class>
    </listener>
    <context-param>
        <param-name> dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/webdb;user=utente;password=utente</param-value>
    </context-param>
</web-app>
