<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>myJavaClass.myServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginSrvlt</servlet-name>
        <servlet-class>servlet.loginSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutSrvlt</servlet-name>
        <servlet-class>servlet.logoutSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invitiSrvlt</servlet-name>
        <servlet-class>servlet.invitiSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/myServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginSrvlt</servlet-name>
        <url-pattern>/loginSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutSrvlt</servlet-name>
        <url-pattern>/logoutSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invitiSrvlt</servlet-name>
        <url-pattern>/invitiSrvlt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <listener>
        <description> listener </description>
        <listener-class> ascoltatore.WebAppContextListener</listener-class>
    </listener>
    <context-param>
        <param-name> dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/webdb;user=utente;password=utente</param-value>
    </context-param>
   
</web-app>
